.Spinner{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.SpinnerWrapper{
    height: 140px;
    width: 140px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
            animation: rotator 1.4s linear infinite;
            position: relative;
            stroke: #fff;
            height: 40px;
  }
  
  @-webkit-keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 2s ease-in-out infinite;
            animation: dash 1.4s ease-in-out infinite, colors 2s ease-in-out infinite;
  }
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }